<h1 class="text-center mb-3"><strong>Search Exercises By Muscle</strong></h1>
<div class="row">
  <div class="col-10 offset-1 col-md-6 offset-md-3">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-4">
        <select
          class="form-select custom-select"
          formControlName="muscle"
          (ngModelChange)="onSubmit()"
        >
          <option value="" disabled selected>Select A Muscle</option>
          <option *ngFor="let muscle of muscles" [ngValue]="muscle">
            {{ muscle }}
          </option>
        </select>
      </div>
    </form>
  </div>
</div>

<div class="mt-2 row" *ngIf="exercises.length > 0">
  <div
    class="card custom-card p-4 mb-4 col-10 offset-1 col-md-6 offset-md-3"
    *ngFor="let exercise of exercises"
  >
    <h2><strong>Name:</strong> {{ exercise.name | capitalizeFirstLetter }}</h2>
    <h3>
      <strong>Muscle:</strong>
      {{ exercise.muscle | formatExerciseType | capitalizeFirstLetter }}
    </h3>
    <h3>
      <strong>Type:</strong>
      {{ exercise.type | capitalizeFirstLetter }}
    </h3>
    <h3>
      <strong>Difficulty:</strong>
      {{ exercise.difficulty | capitalizeFirstLetter }}
    </h3>
    <h3><strong>Instructions:</strong> {{ exercise.instructions }}</h3>
  </div>
</div>