<nav class="navbar navbar-color mb-5 p-3">
  <div class="container-fluid">
    <a href="/" class="navbar-brand title text-light"
      ><strong>{{ title }}</strong></a
    >
    <div>
      <button
        *ngIf="!hideButton"
        type="submit"
        class="btn color-template-one"
        (click)="openWorkoutModal()"
      >
        Add Workout
      </button>
      <a class="btn color-template-three ms-3" routerLink="/search"
        >Search Exercises</a
      >
    </div>
  </div>
</nav>
