<div *ngIf="!dataLoaded">
  <div class="text-center">
    <mat-spinner class="custom-spinner"></mat-spinner>
  </div>
</div>

<div *ngIf="dataLoaded && workouts.length === 0">
  <h1 class="text-center">No workouts have been added yet</h1>
</div>

<div *ngIf="dataLoaded && workouts.length > 0">
  <ng-container *ngFor="let workout of workouts">
    <h1 class="text-center mb-4 workout-title">
      <strong>{{ workout.title }}</strong>
      <div>
        <button
          type="submit"
          class="btn color-template-one mt-3 ms-3"
          (click)="openExerciseModal(workout._id)"
        >
          Add Exercise
        </button>
        <button
          class="btn color-template-two ms-3 mt-3"
          (click)="deleteWorkout(workout._id)"
        >
          Delete Workout
        </button>
      </div>
    </h1>
    <div class="text-center row m-4">
      <div
        class="col-12 col-md-6 col-lg-4 card custom-card p-0 mb-4"
        *ngFor="let exercise of workout.exercises"
      >
        <div class="card-header mb-2 card-header-color">
          <h2 class="m-3">
            <strong>{{ exercise.title }}</strong>
          </h2>
        </div>

        <h3><strong>Sets:</strong> {{ exercise.sets }}</h3>

        <strong>Reps Per Set:</strong>
        <h3>{{ exercise.reps | formatWithCommasAndSpaces }}</h3>

        <strong>Weight Per Rep:</strong>
        <h3>{{ exercise.weight | formatWithCommasAndSpaces }}</h3>
        <div class="text-center">
          <button
            class="btn color-template-two mb-3"
            (click)="deleteExercise(workout._id, exercise._id)"
          >
            Delete Exercise
          </button>
        </div>
      </div>
      <div
        class="modal blur-modal"
        tabindex="-1"
        role="dialog"
        id="exerciseModal"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Add New Exercise</h3>
              <button
                type="button"
                class="close btn btn-lg"
                data-dismiss="modal"
                aria-label="Close"
                (click)="closeExerciseModal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="exerciseForm">
                <div class="form-group mb-2">
                  <input
                    type="text"
                    class="form-control custom-input"
                    formControlName="title"
                    placeholder="Enter exercise title"
                    required
                  />
                </div>
                <div class="form-group mb-2">
                  <input
                    type="number"
                    min="0"
                    class="form-control custom-input"
                    formControlName="sets"
                    placeholder="Enter number of sets"
                    required
                  />
                </div>
                <div class="form-group mb-2">
                  <input
                    type="text"
                    class="form-control custom-input"
                    formControlName="reps"
                    placeholder="Enter number of reps per set (e.g. 10, 9, 8)"
                    required
                  />
                </div>
                <div class="form-group mb-2">
                  <input
                    type="text"
                    class="form-control custom-input"
                    formControlName="weight"
                    placeholder="Enter weight for each rep (e.g. 100, 95, 90)"
                    required
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn color-template-one"
                (click)="addExercise()"
              >
                Add Exercise
              </button>
              <button
                type="button"
                class="btn color-template-two"
                data-dismiss="modal"
                (click)="closeExerciseModal()"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal blur-modal" tabindex="-1" role="dialog" id="workoutModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add New Workout</h3>
        <button
          type="button"
          class="close btn btn-lg"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeWorkoutModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="workoutForm">
          <input
            type="text"
            class="form-control custom-input"
            id="title"
            formControlName="title"
            placeholder="Enter workout title"
            required
          />
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn color-template-one"
          (click)="onSubmit()"
        >
          Add Workout
        </button>
        <button
          type="button"
          class="btn color-template-two"
          data-dismiss="modal"
          (click)="closeWorkoutModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
